@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("La Crosta Insapore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Registreren", "Register", "Home")</li>
                <li>@Html.ActionLink("Inloggen", "Login", "Home")</li>
            </ul>
        </div>
    </div>
</div>